<app-layout></app-layout>
<div class="grid-container">
  <h2>Candidates</h2>
    <div *ngFor="let candidate of candidates | async" (click)="onSelect(candidate)">
      <p>{{candidate.firstName}}</p>
      <input type="radio" name="position" value="{{candidate.firstName}}">{{candidate.firstName}}
      <!--<button (click)="increaseVote(candidate)">Vote</button>-->
    </div>
  <!--//keep an array of changed candidates?-->
  <a href="/complete"><button (click)="increaseVote(candidate)">Vote</button></a>
</div>
