<div class="nav">
  <div class="grid-container">
    <div class="top-bar">
      <div class="top-bar-left">
        <div class="logo">
          <a href="https://oleville.com/">Oleville</a>
        </div>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink= "/candidate">Candidates</a></li>
          <li><a routerLink="/update">Update</a></li>
          <li><a routerLink="/detail">Detail</a></li>
        </ul>
      </div>
  <div>
</div>


