//#home {
//  top: 0;
//  left: 0;
//
//  min-width: 100%;
//  min-height: 100%;
//  object-fit: contain;
//
//  z-index: -1;
//}

.home {
  height:100vh;
  //background: url(/assets/images/sgawallpaperorig.jpg) no-repeat center center;
  //background-size: cover;
  min-width: 100vw;
  //height: calc(100% - 146px);
  background-color: #3a566b;
  //z-index: -1;
  //align-content: center;
}

.home-title {
  font-size: 35px;
  font-weight: 500;
  margin-top: 15px;
  position: relative;
  color: white;
  text-align: center;
  //height: 100%;
  //margin-top: 60%;
  //z-index: 10;

  @include breakpoint(large){
    font-size: 58px;
  }

}

img {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-top: 90px;
  margin-right: auto;
}

.fill-height {
  height: calc(100%- 146px);
}
